<div class="container">

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="enter username" class="form-control" name="username" [(ngModel)]="username">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "findUserByUsername()">Search</button>
        </div>
    </div>
    <h2 class="mt-5">Results</h2>
    <div class="row col-lg-12 col-sm-12">
        <table class="table">
            <thead bgcolor="info">
                <tr>
                    <th>Username</th>&nbsp;&nbsp;&nbsp;
                    <th>Firstname</th>&nbsp;&nbsp;&nbsp;
                    <th>Lastname</th>&nbsp;&nbsp;&nbsp;
                    <th>Age</th>&nbsp;&nbsp;&nbsp;
                    <th>Password</th>&nbsp;&nbsp;&nbsp;
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.username}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{user.firstname}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{user.lastname}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{user.age}}</td>&nbsp;&nbsp;&nbsp;
                    <td>{{user.password}}</td>&nbsp;&nbsp;&nbsp;
                </tr>
            </tbody>
        </table>
    </div>
</div>