<div class="project">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info text-light">
    <a class="navbar-brand mr-5" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link" routerLink="all-users">All Users</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="nav-link" routerLink="search">Search</a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="nav-link" routerLink="register">Register</a>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>